<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/css/_reset.css">
  <link rel="stylesheet" href="./assets/css/_base.css">
  <link rel="stylesheet" href="./assets/css/_grid.css">
  <title>Result</title>
</head>
<body>
  
  <div class="row">
    <div class="columns large-8 large-offset-2 end">
      
      <div class="row">
        <div class="column">
          <h1>Postage Needed</h1>
          <p>You selected <%= type %> with a weight of <%= weight %>.</p>
          <p>Postage rates: <%= postage %></p>
        </div>
      </div>

    </div>
  </div>

</body>
</html>
