<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/css/_reset.css">
  <link rel="stylesheet" href="./assets/css/_base.css">
  <link rel="stylesheet" href="./assets/css/_grid.css">
  <title>Index</title>
</head>
<body>
  <div class="row">
    <div class="column">
      <h1>Header</h1>
      <% if(first && last) { %>
        <p>Welcome <%= first %> <%= last %>.</p>
      <% } %>
    </div>
  </div>
</body>
</html>
